* {
    font-family: "Nunito", sans-serif;
    font-style: normal;
}

.page {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    height: 765px;
    justify-items: center;
    align-items: center;
}

.box-form {
    margin: auto 30%;
    height: 600px;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 0 20px 6px #090b6f85;
    margin: auto;
}

@media (max-width: 980px) {
    .box-form {
        flex-flow: wrap;
        text-align: center;
        align-content: center;
        align-items: center;
        width: 100%;
    }

        .box-form .left .overlay img {
            margin-top: 5px;
            margin-bottom: 5px;
            width: 100%;
        }
}

input {
    background-color: transparent;
}

.box-form div {
    height: auto;
}

.box-form .left {
    color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://drive.google.com/uc?id=1hrCAmBwbG-ttNzC5EB8t306sWfOO1bZC");
    overflow: hidden;
    width: 50%;
}

.box-form div {
    height: auto;
}

.box-form .left {
    color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://drive.google.com/uc?id=1hrCAmBwbG-ttNzC5EB8t306sWfOO1bZC");
    overflow: hidden;
    width: 50%;
}

.box-form .left .overlay {
    padding: 30px;
    width: 100%;
    height: 100%;
    background: #000000ad;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.box-form .right {
    padding: 60px;
    overflow: hidden;
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#logo1 {
    display: block;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 100%;
}

#logo2 {
    display: none;
}


.box-form .right h5 {
    font-size: 6vmax;
    line-height: 0;
}

.box-form .right p {
    font-size: 14px;
    color: #B0B3B9;
}

.box-form .right .form-floating {
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color : transparent;

}

    .box-form .right .form-floating label {
        float: left;
        margin-bottom: 5px;
    }

.formArea {
    margin: auto;
    width: 100%;
}


#pressButton {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    background-color:transparent;
}


@media (max-width: 980px) {
    .box-form {
        flex-flow: wrap;
        text-align: center;
        align-content: center;
        align-items: center;
        width: 100%;
    }

    #localAcc {
        color: darkgrey;
        font-size: small;
        margin-top: -30px;
        margin-bottom: 10px;
    }
}

h5 {
    font-size: 6vmax;
    line-height: 0;
    font-weight: bold;
    color: #2c2727;
    text-shadow: black;
}

#localAcc {
    margin-top: -10px;
    margin-bottom: 10px;
}

.box-form div {
    height: auto;
}

.box-form .left {
    background-size: cover;
    background-image: url("https://drive.google.com/uc?id=1hrCAmBwbG-ttNzC5EB8t306sWfOO1bZC");
    overflow: hidden;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-form .left .overlay {
    padding: 30px;
    width: 100%;
    height: 100%;
    background: #000000ad;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.box-form .right {
    padding: 0px 40px 0px 40px;
    overflow: hidden;
    width: 50%;
    margin: auto 0 auto 0;
}

#logo1 {
    display: block;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 100%;
}

#logo2 {
    display: none;
}

#firstName , 
#lastName {
    width: 50%;
}

.formArea {
    margin-top: 0px;
    width: 100%;
    float: right;
}

.fullName {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

#registerSubmit {
    float: left;
    font-size: 14px;
    width: 100px;
    border-radius: 50px;
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 0px 4px 20px 0px #F4C000a6;
    background-image: linear-gradient(135deg, #383838 10%, #000000 100%);
}

#pressButton {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 980px) {
    .box-form {
        height: 700px;
    }

    .box-form .right {
        width: 100%;
        height: 500px;
        padding-top : 20px;
    }

    .box-form .left {
        height: 200px;
        width: 100%;
    }

    #logo1 {
        display: none;
    }

    #logo2 {
        display: block;
        margin: auto;
        width: 100%;
        height: auto;
    }

    .box-form .right .form-floating {
        margin-top: 5px;
        margin-bottom: 25px;
    }

    #pressButton {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
    }
}
